config_opts['root'] = 'spark-SPARK_VERSION-epel-6-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build apache-maven-3.3.9'
config_opts['dist'] = 'el6'  # only useful for --resultdir variable subst
# beware RHEL use 6Server or 6Client
config_opts['releasever'] = '6'
#config_opts['environment'] = {
#'MAVEN_OPTS':'-Xmx4096m -XX:MaxPermSize=1024m'
#}
# config_opts['macros']['%_topdir'] = "/builddir/build"

# Redirect the mock folder to a partition with sufficient space if you are
# building large application that requires a lot of disk space.
config_opts['basedir'] = 'BASEDIR/var/lib/mock/'
config_opts['cache_topdir'] = 'BASEDIR/var/cache/mock'

# This will be override by the --rpmbuild_timeout from the mock command line
config_opts['rpmbuild_timeout'] = 86400

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos
[base]
name=BaseOS
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=6&arch=x86_64&repo=os
failovermethod=priority

[updates]
name=updates
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=6&arch=x86_64&repo=updates
failovermethod=priority

[epel]
name=epel
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-6&arch=x86_64
failovermethod=priority

[testing]
name=epel-testing
enabled=0
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=testing-epel6&arch=x86_64
failovermethod=priority

[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/dist-6E-epel-build/latest/x86_64/
cost=2000
enabled=0

[epel-debug]
name=epel-debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-6&arch=x86_64
failovermethod=priority
enabled=0

[verticloud-test]
name=VertiCloud Test
baseurl=https://Et_Omwyfs4:Rez1Shrik5@yum.service.verticloud.com/test/
gpgcheck=0
enabled=1
"""
